.setting {
  width: calc(100% - 140px);
  margin: 30px auto;
  padding: 30px;
  border-radius: 25px;
  background: #ffffff;

  &__menu {
    width: 100%;
    border-bottom: 1px solid #f4f5f7;
    margin-bottom: 51px;
  }

  &__menuItems {
    display: flex;
    flex-direction: row;
    gap: 41px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menuItem {
    padding: 8px 16px 9px 17px;
    position: relative;
    overflow: hidden;
    &_active {
      .setting__menuButton {
        color: #1814f3;
      }
    }
  }
  &__itemStick {
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    left: 0;
    bottom: -4px;
    background: #1814f3;
  }

  &__menuButton {
    border: none;
    padding: 0;
    background: none;
    color: #718ebf;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__data {
    display: flex;
    flex-direction: row;
    gap: 55px;
  }
  &__avatar {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  &__avatarImage {
    margin-top: 4px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__avatarEditIcon {
    width: 30px;
    height: 30px;
    background: none;
    position: absolute;
    right: -2px;
    bottom: 12px;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, 1fr);
    row-gap: 22px;
    column-gap: 29px;
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  &__subtitle {
    color: #232323;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__input {
    min-height: 50px;
    min-width: 0;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #dfeaf2;
    border-radius: 15px;
    background: #ffffff;
    color: #718ebf;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    &::placeholder {
      color: #718ebf;
    }
    &:focus {
      outline: none;
      border: 1px solid #dfeaf2;
    }
  }
  &__submitButton {
    min-width: 190px;
    height: 50px;
    border: 0;
    padding: 0;
    border-radius: 15px;
    background: #1814f3;
    color: #ffffff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
  }
  @media screen and (max-width: 980px) {
    width: calc(100% - 90px);
    margin: 25px;
    padding: 20px;
    padding-top: 16px;
    border-radius: 15px;

    &__menu {
      margin-bottom: 25px;
    }

    &__menuItems {
      width: 100%;
      gap: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__menuItem {
      padding: 5px 6px 8px 5px;
      position: relative;
      width: max-content;
    }

    &__itemStick {
      position: absolute;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      left: 0;
      bottom: -3px;
      background: #1814f3;
    }
    &__menuButton {
      font-size: 13px;
      line-height: 16px;
    }

    &__data {
      flex-direction: column;
      gap: 22px;
    }
    &__avatar {
      align-self: center;
      position: relative;
      padding: 0;
      width: 174.64px;
      height: 170px;
      cursor: pointer;
    }

    &__avatarImage {
      margin-top: 0px;
      width: 170px;
      height: 170px;
    }
    &__avatarEditIcon {
      width: 38.64px;
      height: 38.64px;
      background: none;
      position: absolute;
      right: 0;
      bottom: 22px;
    }
    &__form {
      gap: 20px;
    }
    &__fields {
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 10fr;
      gap: 16px;
      margin-top: -1px;
    }
    &__field {
      gap: 9px;
    }
    &__subtitle {
      font-size: 13px;
      line-height: 16px;
    }
    &__input {
      min-height: 40px;
      padding: 0 15px;
      font-size: 12px;
      line-height: 15px;
      border-radius: 10px;
    }
    &__submitButton {
      height: 40px;
      min-width: 0;
      width: 100%;
      border-radius: 9px;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
