/* сброс стандартных стилей */
@import url("../src/shared/style/normalize.css");

/* Подключение шрифтов  */
@import url("../src/shared/assets/fonts/Inter-Web/inter.css");

body {
  margin: 0, auto;
  background-color: #f5f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }
